.body-content {
    width: 100%;
    left: 0;
    font-family: $body;
    /*
    width: 60%;
    left: 20%;
    font-family: $body;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

@media only screen and (min-width: 992px) {
    .body-content {
        width: 100%;
        left: 0;
        font-family: $body;
        width: 50%;
        left: 25%;
        font-family: $body;
    }
}