:not(pre) > code {
    display: inline-block;
    color: white;
    padding: 5px;
    background-color: $secondary;
    border-radius: 3px;
    font-family: $code;
    font-weight: bold;
    //background-color: $secondary;
}

pre {
    display: block;
    color: white;
    padding: 5px;
    background-color: $secondary;
    border-radius: 3px;
    font-family: $code;
    font-weight: bold;
    //background-color: $secondary;
}

/*
pre > code[class*="language-"] {
    border-radius: 0px;
    padding: 10px;
    font-family: $code;
    font-weight: bold;
}*/